
<label style="border-radius: 10%;">
  <input #auteur placeholder="entrez un auteur">
</label>

<button (click)="filter(auteur.value)">search</button>

<div>
  <label for="pet-select">Arret de transport</label>


  <select #v (change)="do(v.value)"   name="arret"  >

   <option  *ngFor="let ar of this.arrets|async "[ngValue]="ar.arret">{{ar.arret}}</option>

    </select>
  </div>
  <button (click)="all()">all</button>
<div style="max-height:200px;max-width: 50%; border: 2px solid blue; overflow: scroll;">
<table >
  <thead>
    <tr>

      <th>Titre</th>
      <th>auteur</th>
      <th>Date</th>
      <th>jouer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of obs|async">

      <td>{{a.titre}}</td>
         <td> {{a.auteur}} </td>
      <td>{{a.datedecreation|date}}</td>

      <td><button (click)="emite(a.id)"> play </button></td>
    </tr>
  </tbody>
</table>
</div>
