<div class="container">
  <div class="card">
    <div class="card-header">

      <strong>visites de chami {{login}}</strong>

    </div>
    <div class="card-body">
      <div class="row mb-4" style="height:500px;max-width: 100%; overflow: scroll; text-align: center;">


      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>visiteur</th>
              <th>date de visite</th>
              <th>mode</th>
              <th>status</th>
              <th>temps</th>
                  <th class="right">score</th>
              <th class="center">commentaire du visiteur</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let v of visite |async ">
              <td >{{ v.visiteur }}</td>
              <td class="center">{{ v.datedevisite |date}}</td>
              <td class="center">{{ v.mode}}</td>
              <td class="center">{{ v.statut}}</td>
              <td class="left strong">{{ v.temps }}</td>
              <td class="right">{{v.score }}</td>
              <td class="center">{{ v.commentaires}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

